<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.bascofinefoods.com/spanish-recipes-wpfiles/wp-content/uploads/2015/04/espresso_martini_recipe-e1505647014593.jpg);">

</div>

<div class="container">

  <h1 class="text-center m-4"><%= @cocktail.name %></h1>

  <h2 class="text-center m-2">Dose</h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li class="text-center m-2"><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to "x", dose_path(dose), method: :delete , class: "btn btn-danger"%></li>
    <% end %>
  </ul>

  <h3 class="text-center m-2">Create a Dose for <%= @cocktail.name %></h3>

  <%= simple_form_for [@cocktail, Dose.new] do |f| %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= link_to 'Back', root_path, class: "btn btn-primary" %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

