<h1><%= @cocktail.name %></h1>

<%= link_to 'Back', cocktails_path %>

<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail) %>

<h2>Dose</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %> (<%= link_to "delete", dose_path(dose), method: :delete %>)</li>
  <% end %>
</ul>

